

.book h1 {
  color: #009adf;
  font-size: 2.75em;
}

.book h2 {
  color: #009adf;
  font-size: 1.25em;
  margin: auto;
}

#plan-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#plan-advantages .component {
  width: 40%;
  height: 400px;
  padding: 1em;
  margin: .5em;
}


img.icon {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 96px; /* Width of new image */
    height: 96px; /* Height of new image */
    padding-left: 192px; /* Equal to width of new image */
}

.coffee-cup {
  background: url('/assets/img/coffee-cup.png') no-repeat;
}

.alarm-clock {
  background: url('/assets/img/alarm-clock.png') no-repeat;
}

.mobile-phone {
  background: url('/assets/img/mobile-phone.png') no-repeat;
}

.piggy-bank {
  background: url('/assets/img/piggy-bank.png') no-repeat;
}

.left-col {
  width: 25%;
  float: left;
  font-size: 1.25em;
  color: #333;
}

.right-col {}

[class*="col-"] {
  width: 70%;
  float: left;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
