<div id="welcome" class="page">
  <div class="row">
    <div class="col"><img class="logo" src="/assets/img/logo.png"/></div>
    <div class="col plan-info">
      <strong>Retirement plan</strong>
      <ul>
        <li>{{ plan.type }}</li>
      </ul>
      <strong>Prepared for:</strong>
      <ul>
        <li>{{ plan.name }}</li>
        <li>{{ plan.type }}</li>
      </ul>
    </div>
  </div>
  <div class="no-pad">
    <img class="hero" src="/assets/img/home-dream-big.png" />
  </div>
</div>
